html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Gibson-SemiBold';
    min-height: 500px;
    background-image: url("../images/p2.svg");
    background-repeat: repeat;
    background-position: 5px 0;
}

.off-white-bg { 
    background-color: #f9f9f9;
}

.title-row {
    margin-top: 30px;
}

.totem-pole-logo-bg {
    width: 50px;
    margin: auto;
}

.totem-pole-logo {
    width: 30px;
    height: 120px;
}

.my-project-row {
    margin-top: 50px;
}

.my-project-section .row {
    background-color: #f9f9f9;
    border: 1px solid black;
    margin: 15px;
    padding: 20px 0;
}

.category-title {
    font-weight: bold;
    text-align: center;
}

.tag-section {
    display: flex;
}

.tag {
    flex: 1;
    padding: 30px;
    margin: 0 15px;
    border: 1px solid black;
    background-color: #f1d56c;
    text-align: center;
}

.role-section {
    display: flex;
}

.role {
    flex: 1;
    padding: 30px;
    margin: 0 15px;
    border: 1px solid black;
    background-color: #f1d56c;
    text-align: center;
}

.footer-row {
    margin-top: 20px;
    margin-bottom: 40px;
}