html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Gibson-SemiBold';
    text-align: center;
    min-height: 500px;
}

#viewport { 
    position: relative;
    width: 100%;
    min-width: 980px;
    min-height: 100%;
    top: 0;
    background-image: url("../images/p2.svg");
    background-repeat: repeat;
    background-position: 5px 0;
}

.off-white-bg { background-color: #f9f9f9; }

.title-row {
    position: absolute;
    top: 3%;
    width: 100%;
}

.title-totem {
    margin: auto;
}

.totem-pole-logo-wrapper {
    padding: 20px 0;
    margin: 30px;
}

.totem-pole-logo {
    width: 30px;
    height: 120px;
}

.vertical-char {
    padding: 0 5px;
}

.vertical-char:first-child {
    padding-top: 5px;
}

.vertical-char:last-child {
    padding-bottom: 5px;
}

.main-row {
    position: absolute;
    top: 45%;
    width: 100%;
}

.main-button-row { 
    height: 55px;
}

.main-text h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.main-text p {
    font-family: 'Bitter', serif;
    font-size: 18px;
}

.main-button {
    background-color: #fbe9a2;
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

.main-button-text a {
    width: 100%;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    line-height: 45px;
}

.email-input input {
    width: 100%;
    height: 27px;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 3px;
    font-family: 'Bitter', serif;
    font-size: 12pt;
}

.join-button {
    margin-left: 45px;
    background-color: black;
    line-height: 40px;
    border-radius: 3px;
}

.join-button a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 1.5px;
}

.footer-row {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.twitter-area {
    width: 100%;
}

.twitter-area-text {
    line-height: 85px;
    text-align: right;
}

.twitter-area-text p {
    font-family: 'Bitter', serif;
    font-size: 15px;
    color: black;
}

.twitter-icon {
    background-color: black;
    width: 27px;
    height: 22px;
    margin: -5px 10px;
}

.icon-link {
    color: black;
}